/*
* Author: Tim Davies
* Date: 01-10-2019
* Web: https://timd.co.uk
* 
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("fontawesome-all.min.css");
html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.85em;
  color: darkslategrey;
  font-weight: 300;
  font-size: 1em;
}

a {
  color: #444477;
}

a:hover {
  color: #51518d;
}

nav .main-nav {
  float: right;
}

nav .brand-pic {
  width: 25px;
  border-radius: 50%;
}

nav .active {
  background-color: #444477 !important;
  border: 2px solid #6767b3;
}

nav .active:hover {
  background-color: #51518d;
  border: 2px solid #9b9bec;
}

nav .nav-item {
  font-weight: bold;
}

.navbar-brand {
  text-transform: capitalize;
}

.btn {
  margin-top: 1rem;
  background-color: #444477;
  border: 4px solid #6767b3;
}

.btn .btn-icon {
  margin-right: 0.8em;
}

.btn:hover {
  background-color: #51518d;
  border: 4px solid #9b9bec;
}

.asterick {
  font-weight: bold;
  color: #444477;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  color: white;
  z-index: 1000;
}

.topic-header {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.8rem 0 1.8rem 0;
  text-align: center;
}

.main-header {
  background-color: #242424;
  padding: 6rem 0 4rem 0;
  text-align: center;
}

.main-header h1 {
  color: white;
  font-size: 3.5em;
}

.main-header p {
  color: white;
  font-size: 1.3em;
}

.main-header .profile-pic {
  border-radius: 50%;
  border: 16px #292933 solid !important;
  width: 280px;
  margin-bottom: 1rem;
}

#work {
  background-color: #e0e0e0;
  padding: 6rem 0 4rem 0;
  background-image: url("../images/bck_work-min.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
}

#work .intro-div {
  background-color: #000;
  color: white;
  border-radius: 4px;
  padding: 1rem;
  opacity: 0.76;
  margin-bottom: 1rem;
  text-align: center;
}

#work .intro-div .contact-intro-link {
  font-weight: bold;
  color: blueviolet;
}

#work .box .fa-check {
  color: darkviolet;
  margin-right: 0.35em;
}

#work .fab-icons {
  font-size: 1.8em;
  color: lightgray;
}

#work .fab-icons i {
  margin: 0.8rem;
}

#work3 p > a {
  font-weight: bold;
  text-decoration: underline;
}

#portfolio {
  background-color: white;
  padding: 6rem 0 4rem 0;
}

#portfolio img {
  margin-bottom: 1rem;
}

#portfolio .notes {
  font-size: 0.8em;
  line-height: 1.20em;
}

#contact {
  background-color: #e0e0e0;
  padding: 6rem 0 4rem 0;
  background-image: url("../images/bck_contact-min.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 6rem 0 4rem 0;
}

#contact .contact-div {
  background-color: #000;
  color: white;
  border-radius: 4px;
  padding: 1rem 1rem 2rem 1rem;
  margin-bottom: 1rem;
  border: 4px solid #6767b3;
}

#contact #contact-form input#breakme {
  display: none !important;
}

#contact #contact-form .error {
  color: white;
  font-weight: bold;
  background: red;
  padding: 10px;
  border-radius: 4px;
}

#contact #contact-form .errors {
  color: white;
  font-weight: bold;
  background: red;
  padding: 10px;
  border-radius: 4px;
}

#contact #contact-form .notice {
  color: white;
  font-weight: bold;
  background: #6767B3;
  padding: 10px;
  border-radius: 4px;
}

footer {
  background-color: #343A40;
  padding: 2rem 0 1rem 0;
  color: white;
}

footer a {
  color: white !important;
}

footer .footer-icons {
  font-size: 1.4em;
  color: dimgray;
}

footer .footer-icons i {
  margin-left: 0.5rem;
}

footer .footer-icons i a {
  color: dimgray !important;
}

footer .footer-icons i:hover {
  color: #51518d;
}

footer .craft-bigup {
  color: black;
}
/*# sourceMappingURL=style.css.map */