<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <p class="craft-bigup"><img src="assets/images/logo-craft-cms-black.svg" width="100"
                        alt="Craft CMS" />&nbsp;
                    powered.</p>
            </div>

            <div class="col-sm-6 text-center">
                <p><span class="footer-icons"><i class="fab fa-facebook-square"></i><i
                            class="fab fa-twitter-square"></i><i class="fab fa-linkedin"></i><i
                            class="fab fa-github-square"></i></span></p>
                &copy; 2019 <a href="https://timd.co.uk">timd.co.uk</a>
            </div>
        </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
{% do view.registerJsFile ("assets/js/jquery.min.js") %}
{% do view.registerJsFile ("assets/js/waypoints.min.js") %}
{% do view.registerJsFile ("assets/js/inview.min.js") %}
{% do view.registerJsFile ("assets/js/scripts.js") %}

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#000000",
                "text": "#ffffff"
            },
            "button": {
                "background": "#6767b3",
                "text": "#ffffff"
            }
        },
        "theme": "classic",
        "content": {
            "message": "This website uses cookies, just to let you know :)"
        }
    });
</script>