<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase fixed-top">
        <div class="container">
            <a class="navbar-brand" href="./"><img src="assets/images/tmd-min.jpg" alt="freelance web developer"
                    title="Web Developer based in Exmouth, Devon UK" border="0" class="brand-pic" /> timd.co.uk</a>
            <div class="main-nav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav nav-pills">
                        <a class="nav-item nav-link active" href="#home">Home</a>
                        <a class="nav-item nav-link" href="#work">Services</a>
                        <a class="nav-item nav-link" href="#portfolio">Portfolio</a>
                        <a class="nav-item nav-link" href="#contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>