<article id="work">
        <div class="container work">
            <div class="row">
                <div class="col">
                    <div class="intro-div animated" id="intro">
                        <h2 class="topic-header"><i class="fas fa-globe"></i> Services</h2>
                        <p>I am a web developer with over 10 years of experience. I
                            create easy-to-use, responsive (mobile friendly) websites, as well as fixing and maintaining
                            existing websites.
                            I'm skilled in HTML, CSS, JavaScript and PHP/MySQL. I have many years experience in
                            WordPress, creating themes and plugins as well as customisations and maintenance. Other
                            skills
                            include Search Engine</a>
                            Optimization and Digital Marketing. If you have a task or project in mind please don't
                            hesitate to <a href="#contact" class="contact-intro-link">contact me</a>.</p>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4 animated" id="work1">
                    <section class="box">

                        <ul class="list-group">
                            <li class="list-group-item list-group-item-dark">
                                <h4><i class="fas fa-laptop-code"></i> Web Development</h4>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-check"></i> <span class="asterick">*</span>Custom built websites or
                                    WordPress/Craft CMS
                                    powered.</p>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-check"></i> Photoshop designs into (mobile friendly) responsive
                                    websites.</p>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-check"></i> Fix any website problem or add functionality/general
                                    maintenance.</p>
                            </li>
                            <li class="list-group-item fab-icons"><i class="fab fa-html5"></i><i
                                    class="fab fa-css3-alt"></i><i class="fab fa-js"></i><i class="fab fa-php"></i><i
                                    class="fab fa-wordpress"></i><br /></li>
                        </ul>
                    </section>
                </div>

                <div class="col-sm-4 animated" id="work2">
                    <section class="box">

                        <ul class="list-group">
                            <li class="list-group-item list-group-item-dark">
                                <h4><i class="fas fa-chart-line"></i> Digital Marketing</h4>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-check"></i> <span class="asterick">*</span>SEO analysis and
                                    optimization. Free report available.</p>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-check"></i> Affiliate, Search Engine &amp; Social Media
                                    Marketing.<br /></p>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-check"></i> Google Adwords, Facebook Ad Campaigns etc.</p>
                            </li>
                            <li class="list-group-item fab-icons"><i class="fas fa-search-location"></i><i
                                    class="fas fa-chart-bar"></i><i class="fab fa-google"></i><i
                                    class="fab fa-facebook"></i><i class="fas fa-coins"></i><br /></li>
                        </ul>
                    </section>
                </div>

                <div class="col-sm-4 animated" id="work3">
                    <section class="box">

                        <ul class="list-group">
                            <li class="list-group-item list-group-item-dark">
                                <h4><i class="fas fa-cogs"></i> Other Services</h4>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-check"></i> WordPress setup, customisation of
                                    themes, plugin configuration, SEO, speed and security optimization.</p>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-check"></i> Support and Virtual Assistance.</p>
                            </li>
                            <li class="list-group-item">
                                <p><i class="fa fa-asterisk asterick"></i> Do you need a FREE website quote or SEO
                                    analysis? <a href="#contact">contact me</a>.</p>
                            </li>
                            <li class="list-group-item fab-icons"><i class="fas fa-microphone"></i><i
                                    class="fa fa-user"></i><i class="fa fa-envelope"></i><i
                                    class="fas fa-comments"></i><i class="fab fa-skype"></i><br /></li>

                        </ul>
                    </section>
                </div>

                <div class="col text-center">
                    <a href="#portfolio" class="btn btn-secondary btn-lg"><i
                            class="fa fa-keyboard animated infinite down-icon btn-icon"></i>See
                        some of my
                        work</a>
                </div>
            </div>
    </article>